body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    gap: 20px;
}

button{
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}